.main {
    padding: 20px;
    width: 400px;
    height: 350px;
    border: solid 5px #61dafb;
    border-radius: 10px;
    font-size: 80px;
    font-weight: 700;
}

.buttonsArea{
    margin: 30px auto;
    width: 390px;
    height: 120px;
    border: solid 5px #61dafb;
    border-radius: 10px;
    display: flex; /* or inline-flex */
    justify-content: center;
    align-items: center;
}

/*.res {*/
/*    background-color: #61dafb;*/
/*    color: #282c34;*/
/*    font-size: 40px;*/
/*    margin: 10px;*/
/*    !*border: solid 5px #61dafb;*!*/
/*    border-radius: 10px;*/
/*    flex-basis:  0;*/
/*    line-height: 50px;*/
/*}*/

.preElement {
    display: flex;
}